<div class="row">
  <div class="col-md-8">
    <h1>{{ recipe.name }}</h1>
    <p>{{ recipe.description }}</p>
    <ul class="list-group mt-3">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </li>
    </ul>
    <div class="d-flex justify-content-between mt-3">
      <button class="btn btn-success" (click)="addToShoppingList()">To shopping list</button>
      <button class="btn btn-warning" routerLink="edit">Edit Recipe</button>
      <button class="btn btn-danger" (click)="onDelete()">Delete Recipe</button>
    </div>
  </div>
  <div class="col-md-4">
    <img [src]="recipe.imagePath" width="100%"/>
  </div>
</div>